<h1>
  <% if @user.image.present? %>
    <img src="<%= @user.image %>">
  <% end %>
  Welcome, <%= @user.username %>!
</h1>
  <h2>What would you like to do?</h2>
    <h3><%= link_to "See Your Favorites", favorites_path %></h3>

    <a href="#" onclick="displayCreateForm(); return false;"><h3>List a New Contribution</h3></a>
    <div id="contribution_form"></div>

    <a href="#" class="contribution_link" onclick="getContributions(); return false;"><h3>See All Contributions</h3></a>
    <div id="main"></div>

<button id="my_button" onload="addEventToButton();">Click Me</button> <span></span>
